a {
    color: #760000;
}

a:hover {
    color: #222222;
}

::selection {
    background-color: #760000; 
    color: white; 
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
    color: #760000 !important;
    border-left: 2px solid #760000 !important;
}

.sidebar nav[role="doc-toc"] ul > li > a:hover {
    color: #760000 !important;
    border-left: 4px solid #760000 !important;
}


.sidebar nav[role="doc-toc"] ul > li > ul > li > a.active {
    color: #760000 !important;
    border-left: 2px solid #760000 !important;
}

.sidebar nav[role="doc-toc"] ul > li > ul > li > a:hover {
    color: #760000 !important;
    border-left: 4px solid #760000 !important;
}
